.exhibition-thumbnail {
  margin-top: 12px;
  margin-bottom: 12px;
}

.exhibition-thumbnail-body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
}

.exhibition-thumbnail-image {
  box-shadow: 8px 3px 8px #888888;
  z-index: 1;
  position: relative;
}

.exhibition-name {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 200;
  /* color: white; */
  /* background-color: black; */
}
