.exhibition-discription {
  /* padding-left: 30px; */
  margin-bottom: 2em;
}

.exhibition-header .exhibition-name {
  margin-top: 12px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: black;
  color: white;
  margin-bottom: 1em;
  display: block;
  width: fit-content;
}

.exhibition-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.exhibition-image-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 18px;
}
/* 
.focused-content-wrapper {
  background-color: #f7f5f5;
  height: 488px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 3px 8px #888888;
  padding-bottom: 12px;
}

.focused-image-wrapper {
  max-height: 60%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.focused-image-description {
  width: 300px;
  overflow: scroll;
}

.image-title {
  text-align: center;
  margin-bottom: 12px;
}

.focused-image {
  width: 300px;
} */
