.exhibition-info-table {
  width: 100%;
}

.exhibition-info-header {
  width: 45%;
}

.exhibition-info-content {
  text-align: right;
}

.exhibition-description {
  width: 100%;
  padding: 0 3px 0 3px;
}
