.anchor-hover-no-effect:hover {
  text-decoration: none !important;
}

.exhibitions {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.exhibition-links {
  width: fit-content;
}
