.typewriter {
  display: inline-block;  /* make div to as wide as content */
}

.typewriter #hello-world {
  font-family: PressStart2P;

  /* Ensures the content is not revealed until the animation */
  overflow: hidden; 
  /* The typwriter cursor */
  border-right: .05em solid silver; 
  /*  Keeps the content on a single line  */
  white-space: nowrap; 
  /* Gives that scrolling effect as the typing happens */
  /* margin: 0 auto;  */

  animation: 
    typing 4s steps(50, end), 
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: silver; }
}